@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #E4E4E8;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #1F202C;
    width: calc(100% - 20px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*
#info {
        display: inline-block;
        font-size: 16px;
        padding: 10px;
    }

*/

header {
    position: sticky;
    top: 0;
    z-index: 1;

    #slider {
        display: inline-block;
        padding: 3px 3px 3px 3px;
        background-color: #1f202c93;
    }
}

nav {
    position: absolute;
    top: 0;
    right: 10px;
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);         
    text-align: center;
    padding: 3px 10px 3px 10px;
    width: 150px;
    font-size: 14px;
}

// source: https://css-tricks.com/seamless-responsive-photo-grid/
#content {
    line-height: 0;
    column-count: 3;
    column-gap: 10px;
    column-fill: auto;
    text-align: center;

    article {
        display: inline-block;
        position: relative;

        a {
            img, video {
                display: block;
                max-width: 100%;
                max-height: 100vh;
                margin: 0 auto 10px auto;
            }
    
            video {
                outline: none;
            }
        }

        #open {
            opacity: 0;
            z-index: 1;
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
            background-color: #1f202c56;
            transition: opacity 0.3s;
        }
    }

    article:hover {
        #open {
            opacity: 1;
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #393b52;
}

::-webkit-scrollbar-thumb:hover {
    background: #42455f; 
}

// source: https://www.sylvaindurand.org/overlay-image-in-pure-css/
.overlay {
    display: flex;
    position: fixed;
    z-index: 2;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
}

.overlay {
    img {
        transform: scale(0.95);
        transition: transform .3s;
    }
} 

.overlay:target {
    visibility: visible;
    outline: none;
    cursor: default;
    
    opacity: 1;

    img {
        margin: 0;
        transform: scale(1);
    }
}