* {
    color: #282C34;
    caret-color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

::selection {
    background: #F7D4A9;
}

body {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    padding: 10px;
}

#back, #amountOfSites {    
    background-color: rgba(0, 0, 0, 0.466);
    color: white;
    border-radius: 4px;
    font-size: 10pt;
    padding: 2px 5px 2px 5px;
    display: inline-block;
}

#amountOfSites {
    float: right;
}

#back:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.342);
}

#back:active {    
    background-color: rgba(0, 0, 0, 0.61);
}

textarea {
    background-color: transparent;
    font-size: 11pt;
    padding: 4px;
    margin-top: 7px;
    border: 0 solid transparent;
    border-radius: 4px;
    box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.301);    
    display: block;
    width: 66%;
    transition: background-color, box-shadow 0.5s;
}

textarea:focus {
    outline: none;
    background-color: transparent;
    box-shadow: -5px -5px 10px -3px rgba(0, 0, 0, 0.301); 
}

#page2 {
    display: none;
}

#urls {
    width: 100%;
    height: 250px;
    resize: none;
}

#logo {
    display: inline-block;
    width: 69px;
    margin: 15px auto;
}